/*==========================
      Project Base
==========================*/
$darkGray :     #333333;
$white :        #ffffff;
$error_color:   #d90000;
$blackColor:    #0c0c0c;

$blue-color: #001D6E;
$light-blue-color: #7FB5FF;
$light-blue-rgba: rgba(127, 181, 255, 0.1);
$primary-color: #f58e09;
$secondary-color:#2a2a2a;
$babyblue-color: #D4F1FF;
$skyblue-color: #7FB5FF;
$text-orange: #f58e09;

$text-black: #000000;
$text-light: #ffffff;
$text-blue: #001D6E;
$text-dark: #4D5364;
$link-color: #f58e09;
$link-hover-color: #001D6E;
$link-active-color: #001D6E;

$btn-border-white: #ffffff;
$font-primary: 'Poppins', sans-serif;
$terciary-color:#2c3a48;
$success-color: #4dbd59;
$warning-color: #f04124;
$amber-warning: #eeae3f;
$info-color: #a0d3e8;
// We use these to control various global styles
$body-bg:#f4f4f4;


$color_2: #8a8a8a;
$background-color_1: #cacaca;

/*==========================
      Universal CSS
==========================*/
